SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:postgres@db:5432/monvirex
REDIS_URL=redis://redis:6379/0
SENDGRID_API_KEY=your-sendgrid-api-key
EMAIL_FROM=your-email
GOOGLE_CLIENT_ID=your_google_client_id
TELEGRAM_BOT_TOKEN=your_telegram_bot_token

BINANCE_API_KEY=your-binance-api-key
BINANCE_API_SECRET=your-binance-api-secret