<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body style="margin:0; padding:0; font-family: Arial, sans-serif; background-color:#f6f6f6;">

    <div style="max-width:600px; margin:40px auto; background:#ffffff; padding:30px; border-radius:10px;">

        <div style="text-align: center; margin-bottom: 20px;">
            <img width="100px" height="100px"
                 src="https://res.cloudinary.com/dfpfrizds/image/upload/Monvirex_Logo_a9dcyr"
                 alt="Monvirex">
        </div>

        <h2 style="text-align:center; margin-top:0;">Скидання пароля 🔐</h2>

        <p>
            Введіть код нижче, щоб підтвердити запит та перейти до створення нового пароля:
        </p>

        <p><strong>🔐 Ваш код підтвердження:</strong></p>

        <h1 style="letter-spacing:5px; text-align:center; margin:20px 0;">
            {{ code }}
        </h1>

        <p style="text-align:center;">
            Код дійсний протягом <strong>15 хвилин</strong>.
        </p>

        <p>
        Якщо ви не ініціювали цей запит, це може свідчити про спробу доступу до вашого акаунта.
            Рекомендуємо не використовувати цей код та негайно звернутися до служби підтримки Monvirex.
        </p>

        <hr style="margin:30px 0; border:none; border-top:1px solid #eee;">

        <p style="color:#777; font-size:14px;">
            З повагою,<br>
            Команда Monvirex
        </p>

    </div>

</body>
</html>